@import '../variables.css'; 

.customization-page {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.customization-page form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}

.customization-page select,
.customization-page input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.customization-page button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.delete-button,
.customization-delete-button {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customization-page ul {
  list-style: none;
  padding: 0;
}

.customization-page li {
  background: var(--form-background-color);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: var(--navbar-link-color);
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

@media (max-width: 768px) {
  .customization-page {
    padding: 10px;
  }

  .customization-page form {
    align-items: center;
  }

  .customization-page select,
  .customization-page input,
  .customization-page button {
    width: 100%;
  }

  .customization-page li {
    padding: 8px;
  }
}

@media (min-width: 769px) {
  .customization-page {
    max-width: 100%; 
    margin: 0 auto;
  }

  .customization-page form {
    width: 100%;
  }
}