/* Estilos base para la página de peluches */
.plushie-page {
  padding: 50px;
}

/* Título de la página */
.plushie-page h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

/* Formulario para agregar peluches */
.plushie-form { 
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Estilos para inputs y botones del formulario */
.plushie-form input,
.plushie-form button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

/* Botón de agregar peluche */
.plushie-form button { 
  background-color: var(--secondary-color); 
  color: white;
  border: none;
  cursor: pointer;
}

/* Lista de peluches */
.plushie-page ul {
  list-style: none;
  padding: 0;
}

/* Estilos para cada peluche en la lista */
.plushie-page li {
  background-color: var(--form-background-color);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px!important;
  color: var(--navbar-link-color);
  display: flex;         
  flex-direction: column; 
  align-items: center;    
}

.plushie-page h3 { /* Nombre del peluche */
  margin-bottom: 10px;
}

/* Imagen del peluche */
.plushie-page img { 
  max-width: 100% !important;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Botón para eliminar un peluche */
.delete-button {
  padding: 8px 12px;
  background-color: #eee;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Centrar el contenido principal */
main { 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Media Query para pantallas grandes (desktops) */
@media (min-width: 1025px) { 
  .plushie-page ul {
    width: 80%;
    margin: 0 auto;
  }

  /* Limitar el ancho máximo de la imagen en pantallas grandes */
  .plushie-page img,
  .customization-page img {
    max-width: 200px; 
    
  }
}

/* Media Query para dispositivos móviles (pantallas pequeñas) */
@media (max-width: 768px) {
}
