@import '../variables.css'; /* Importo las variables de colores y estilos */

.ranking-page {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Centra el contenido */
}

.ranking-page ul {
  list-style: none;
  padding: 0;
}

.ranking-page li {
  background: var(--form-background-color);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: var(--navbar-link-color);
}

@media (max-width: 768px) {
  .ranking-page {
    padding: 10px;
  }

  .ranking-page li {
    padding: 8px;
  }
}

@media (min-width: 769px) {
  .ranking-page {
    max-width: 100%;
    margin: 0 auto;
  }
}