@import './variables.css'; /* Importo las variables de colores y estilos */

/* Estilos generales para toda la app */
.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cabecera de la app (header) */
.App-header {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--text-color);
}

.App-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Contenido principal de la app (main) */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  margin-top: 0px;
}

.content,
.secondary-content {
  background-color: var(--content-background-color);
  color: var(--text-color);
  padding: 6px;
  border-radius: 8px;
}

.secondary-content {
  margin-top: 20px;
  padding: 10px;
}

.login-form {
  background-color: var(--form-background-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label,
.login-form input,
.login-form button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
}

.login-form input {
  background-color: var(--input-background-color);
}

.login-form button {
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}